@import "tailwindcss";
@import "plyr-react/plyr.css";
::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.plyr__controls {
  display: flex !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.plyr--fullscreen {
  z-index: 9999 !important;
  transform: none !important;
  position: fixed !important;
  inset: 0 !important;
}
